<div id="newWell" class="well">

  <%= form_tag "/contacts", method: :post do %>
    <p><label>First Name:</label><input type="text" name="first_name"></p>
    <p><label>Middle Name:</label><input type="text" name="middle_name"></p>
    <p><label>Last Name:</label><input type="text" name="last_name"></p>
    <p><label>Number:</label><input type="text" name="number"></p>
    <p><label>Greek God House:</label><input type="text" name="bio"></p>
    <p><font color="black"><input type="submit" value="Create Student"></font></p>
  <% end %>

</div>