// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Book Antiqua;
  padding: 100px;
  background-color: #FF7900;
}

.img-responsive {
  background-image: url("orange.png");
  background-size: cover;
}

h1 {
  text-align: center;
  margin: 50px 0 80px 0;
}

h4 {
  padding-left: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

p {
  padding-left: 30px;
  font-size: 14px;
}

label {
  display: inline-block;
  width: 100%;
}

#indexWell {
  width: 95%;
  margin: 70px 20px 30px 20px;
  padding: 40px 10px;
  border-color: rgba(245, 245, 245, 0.0);
  background-color: rgba(245, 245, 245, 0.0);
  background-size: cover;
  background-position: center;
  background-image: url("parchment.png");
  display: inline-block;
}

#newWell {
  width: 30%;
  margin: 50px 0px 0px 400px;
  padding: 50px;
  text-align: left;
  border-color: rgba(245, 245, 245, 0.0);
  background-color: rgba(245, 245, 245, 0.0);
  background-position: center;
  background-image: url("scroll.png");
}

#editWell {
  width: 30%;
  margin: 50px 0px 0px 400px;
  padding: 50px;
  text-align: left;
  border-color: rgba(245, 245, 245, 0.0);
  background-color: rgba(245, 245, 245, 0.0);
  background-position: center;
  background-image: url("scroll.png");
}
